---
import type { GetStaticPaths } from "astro";
import Layout from '../layouts/Layout.astro' 

import {Image} from 'astro:assets'


// gerar toda estrutura de uris wordpress PARA MODO ESTÁTICO
// para modo dinâmico não preciso dele mas não custa nada ter ele aqui
export async function getStaticPaths (){

    let res = await fetch("https://homolog.plyn.com.br/revista-novo//wp-json/wp/v2/posts")
    let posts = await res.json();

    return posts.map( p => ({
        params: { slug: p.slug },
        props: { post: p },
    }))

}  




const {slug} = Astro.params;

let res = await fetch(`https://homolog.plyn.com.br/revista-novo/wp-json/wp/v2/posts?slug=${slug}&_embed`)
let [post] = await res.json();

 

---


<Layout title="Welcome to Astro.">
	<main class="bebas">

        <!-- loading="lazy" -->
            { ( post._embedded['wp:featuredmedia'] ) && 
             <Image 
                alt={post.title.rendered} 
                
                densities={[1.5, 2]} 
                src={post._embedded['wp:featuredmedia']['0'].media_details.sizes.medium.source_url} 
                width={post._embedded['wp:featuredmedia']['0'].media_details.sizes.medium.width}
                height={post._embedded['wp:featuredmedia']['0'].media_details.sizes.medium.height}
                />   
            }
           
		    <h2> {post.title.rendered} </h2>
             
           <Fragment set:html={post.content.rendered} />
	</main>
</Layout>
