---
import Layout from '../layouts/Layout.astro' 
import {Image} from 'astro:assets'


let res = await fetch("https://33giga.com.br/wp-json/wp/v2/posts/?_embed=wp:featuredmedia")
let posts = await res.json();

function url_relativa( x )
{

	return x
		.replace("https://33giga.com.br","")

}
let res2 = await fetch("https://33giga.com.br/wp-json/myroutes/menu");
let menu = await res2.json();



posts = posts.slice( 0 , 3 )



import teste from "../imgs/teste.jpg"
 

---

<Layout title="Welcome to Astro.">

	<div>
		{
			menu.map( m => (
				<div>
					<a href={url_relativa( m.url ) }>{m.title}</a>
				</div>
			) )
		}
	</div>
	
	<Image src={teste} alt='anuncio' /> 


	<form action="/busca">
		<input type="text" name="search">
		<button>buscar</button>
	</form>
	
	<div>
		<br><br>
		<a href="/vaio-tl-10">esse link tem a galeria</a>
		<br><br>
		<br><br>

	</div>
	<main> 
		{
			posts.map( ( p )=>(
				<article class="bebas">
					{ ( p._embedded['wp:featuredmedia'] ) && 
							<Image 
								alt={p.title.rendered} 
								
								densities={[1.5, 2]} 
								src={p._embedded['wp:featuredmedia']['0'].media_details.sizes.medium.source_url} 
								width={p._embedded['wp:featuredmedia']['0'].media_details.sizes.medium.width}
								height={p._embedded['wp:featuredmedia']['0'].media_details.sizes.medium.height}
							/>   
					}
					<br>
					<a href={p.slug}>
						 {p.title.rendered}
					</a>
				</article>
			) )
		}
	</main>
</Layout>

<style is:global>	  


</style>
